.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 80px;
}

.profile-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-top: 20px;
  gap: 300px;
}

.profile-image {
  flex: 0 0 500px;
}

.profile-image img {
  width: 80%;
  height: auto;
  border-radius: 25px;
}

.profile-form-container-inner {
  flex: 1;
  max-width: 800px;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
  background-color: #faf9f7;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-form label {
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.profile-form input {
  width: 100%;
  max-width: 450px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  background-color: #faf9f7;
  font-size: 16px;
  border-radius: 25px;
}

.profile-form input[disabled] {
  background-color: #e0e0e0;
}

.profile-form input[type="password"] {
  border: 2px solid #000;
}

.profile-form input[type="submit"] {
  width: auto;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #203D2D;
  color: #faf9f7;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.profile-form input[type="submit"]:hover {
  background-color: #1a2c1d;
}
