body {
    background-color: #FAF9F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #FAF9F7;
    width: 80vw; 
    padding: 20px;
  }
  
  .login-image img {
    height: 800px;
    margin-right: 350px;

  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 30px;
    width: 50%; 
  }
  
  .logo {
    max-width:400px; 
    margin-bottom: 25px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
  }
  
  label {
    font-weight: bold;
    font-size: 1.1rem; 
    margin-top: 12px;
  }
  
  .input-field {
    padding: 12px; 
    font-size: 1rem; 
    border: 3px solid #000;
    border-radius: 50px;
    margin-bottom: 12px;
    color: #000;
    background-color: #FAF9F7;
  }
  
  .login-button {
    background-color: #3D6B54;
    color: #FFF;
    padding: 12px; 
    font-size: 1.2rem;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 12px;
    width: 60%;
    display: flex;
    justify-content: center; 
    align-self: center; 
    font-style: bold;
  }
  
  .register-link {
    margin-top: 12px;
    font-size: 1.2rem; 
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .register-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
      width: 90vw;
      padding: 15px;
    }
  
    .login-image img {
      max-width: 80%;
    }
  
    .login-form {
      width: 100%;
      padding: 20px;
    }
  }
  